# WeRateDogs wrangling and data analysis

## Introduction

This document explores a dataset cointaing 5000 tweets, from the twitter page @dog_rates which is also known as WeRateDogs. This twitter rates dogs of people with humorous comment. We will try to analyse this rating made for different dogs. Along the process we will gather, clean and wrangle the data and get it ready for analysis. After that we will do an analysis with visualization.

In [1]:
# load libraries
import pandas as pd
import numpy as np
import requests
import tweepy
import json
import time
import os
import datetime
import string
import matplotlib.pyplot as plt
import math
import seaborn as sns

%matplotlib inline

# display the full string from a pandas DataFrame
pd.options.display.max_rows
#pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', 3000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 10000)

## Gather Data

In [2]:
# load twitter-archive-enhanced.csv
tweet_arch = pd.read_csv('twitter-archive-enhanced.csv', encoding="utf-8")
tweet_arch.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,8.924210e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,8.921770e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,8.918150e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,8.916900e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,8.913280e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

In [3]:
# Retrieve image-predictions.tsv file
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
# Image predictions data 
response = requests.get(url)
with open(url.split('/')[-1].replace('-', '_'), 'wb') as file: 
    file.write(response.content)
img_pred = pd.read_csv(url.split('/')[-1].replace('-', '_'), sep='\t')

In [4]:
img_pred.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [5]:
df_list = []

with open('tweet-json.txt', 'r', encoding='utf8') as file:
    for line in file:
        lines = json.loads(line)
        df_list.append({'tweet_id': lines['id'],
                        'favorites': lines['favorite_count'],
                        'retweets': lines['retweet_count'],
                        'timestamp': lines['created_at']})
tweet_info = pd.DataFrame(df_list, columns=['tweet_id','timestamp','favorites','retweets'])

In [6]:
tweet_info.head()

             tweet_id                       timestamp  favorites  retweets
0  892420643555336193  Tue Aug 01 16:23:56 +0000 2017      39467      8853
1  892177421306343426  Tue Aug 01 00:17:27 +0000 2017      33819      6514
2  891815181378084864  Mon Jul 31 00:18:03 +0000 2017      25461      4328
3  891689557279858688  Sun Jul 30 15:58:51 +0000 2017      42908      8964
4  891327558926688256  Sat Jul 29 16:00:24 +0000 2017      41048      9774

# Assessment

So we have 3 dataframe which we will assess in this part of our analysis

- tweet_arch
- img_pred
- tweet_info

In [7]:
tweet_arch.shape

(2356, 17)

In [8]:
tweet_info.shape

(2354, 4)

In [9]:
img_pred.shape

(2075, 12)

In [10]:
tweet_arch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   float64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(5), int64(2), object(10)
memory usage: 313.0+ KB

In [11]:
tweet_arch.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455128e+17,2.015385e+16,7.720221e+17,1.241437e+16,13.126486,10.455433
std,6.856706e+16,7.583419e+16,1.253546e+17,6.236131e+16,9.597227e+16,45.876648,6.745237
min,6.660210e+17,6.660000e+17,1.185634e+07,6.660000e+17,7.832140e+05,0.000000,0.000000
25%,6.783992e+17,6.760000e+17,3.086374e+08,7.190000e+17,4.196984e+09,10.000000,10.000000
50%,7.196275e+17,7.035000e+17,4.196984e+09,7.800000e+17,4.196984e+09,11.000000,10.000000
75%,7.993375e+17,8.260000e+17,4.196984e+09,8.200000e+17,4.196984e+09,12.000000,10.000000
max,8.924210e+17,8.860000e+17,8.410000e+17,8.870000e+17,7.870000e+17,1776.000000,170.000000

In [12]:
tweet_arch.sample()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2219,6.684970e+17,NaN,NaN,2015-11-22 18:31:19 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Jo. Jo is a Swedish Queso. Tongue bigger than face. Tiny lil legs. Still no seatbelt. Simply careless. 8/10 https://t.co/Edy7B5vOp2,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668496999348633600/photo/1,8,10,Jo,None,None,None,None

In [13]:
img_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [14]:
img_pred.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [15]:
img_pred.sample()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
439,674436901579923456,https://pbs.twimg.com/media/CVwUyM9WwAAGDjv.jpg,1,acorn_squash,0.375392,False,Shih-Tzu,0.105416,True,Lhasa,0.072832,True

In [16]:
tweet_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet_id   2354 non-null   int64
 1   timestamp  2354 non-null   object
 2   favorites  2354 non-null   int64
 3   retweets   2354 non-null   int64
dtypes: int64(3), object(1)
memory usage: 73.7+ KB

In [17]:
tweet_info.describe()

           tweet_id      favorites      retweets
count  2.354000e+03    2354.000000   2354.000000
mean   7.426978e+17    8080.968564   3164.797366
std    6.852812e+16   11814.771334   5284.770364
min    6.660209e+17       0.000000      0.000000
25%    6.783975e+17    1415.000000    624.500000
50%    7.194596e+17    3603.500000   1473.500000
75%    7.993058e+17   10122.250000   3652.000000
max    8.924206e+17  132810.000000  79515.000000

In [18]:
tweet_info.sample()

                tweet_id                       timestamp  favorites  retweets
1780  677687604918272002  Fri Dec 18 03:11:30 +0000 2015       2681       950

In [19]:
# duplicate tweet id in tweet_arch
sum(tweet_arch['tweet_id'].duplicated())

7

In [20]:
# duplicate tweet id in tweet_info
sum(tweet_info['tweet_id'].duplicated())

0

In [21]:
# duplicate tweet id in img_pred
sum(img_pred['tweet_id'].duplicated())

0

In [22]:
# finding tweet_id with duplicates
tweet_arch[tweet_arch['tweet_id'].duplicated()]['tweet_id']

341     8.322160e+17
447     8.190150e+17
1853    6.757070e+17
1872    6.751470e+17
1895    6.747430e+17
1941    6.737160e+17
2260    6.675510e+17
Name: tweet_id, dtype: float64

In [23]:
# number of tweet with rating denominator not equal to 10
tweet_arch.query('rating_denominator != 10')['tweet_id'].count()

23

In [24]:
# tweet with rating denominator not equal to 10
tweet_arch.query('rating_denominator != 10')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
313,8.352460e+17,8.350000e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho",NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,8.320890e+17,8.320000e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
433,8.206900e+17,NaN,NaN,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/820690176645140481/photo/1,https://twitter.com/dog_rates/status/820690176645140481/photo/1,https://twitter.com/dog_rates/status/820690176645140481/photo/1",84,70,None,None,None,None,None
516,8.109850e+17,NaN,NaN,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,NaN,NaN,NaN,"https://www.gofundme.com/sams-smile,https://twitter.com/dog_rates/status/810984652412424192/photo/1",24,7,Sam,None,None,None,None
784,7.750970e+17,NaN,NaN,2016-09-11 22:20:06 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https:/",7.400000e+17,4.196984e+09,2016-06-08 02:41:38 +0000,"https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1",9,11,None,None,None,None,None
902,7.584670e+17,NaN,NaN,2016-07-28 01:00:57 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,NaN,NaN,NaN,https://twitter.com/dog_rates/status/758467244762497024/video/1,165,150,None,None,None,None,None
1068,7.403730e+17,NaN,NaN,2016-06-08 02:41:38 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1",9,11,None,None,None,None,None
1120,7.311560e+17,NaN,NaN,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023742988288/photo/1,204,170,this,None,None,None,None
1165,7.229750e+17,NaN,NaN,2016-04-21 02:25:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,NaN,NaN,NaN,https://twitter.com/dog_rates/status/722974582966214656/photo/1,4,20,None,None,None,None,None
1202,7.164390e+17,NaN,NaN,2016-04-03 01:36:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/716439118184652801/photo/1,50,50,Bluebert,None,None,None,None
1228,7.139010e+17,NaN,NaN,2016-03-27 01:29:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713900603437621249/photo/1,99,90,None,None,None,None,None
1254,7.106590e+17,NaN,NaN,2016-03-18 02:46:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710658690886586372/photo/1,80,80,None,None,None,None,None
1274,7.091980e+17,NaN,NaN,2016-03-14 02:04:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",NaN,NaN,NaN,https://twitter.com/dog_rates/status/709198395643068416/photo/1,45,50,None,None,None,None,None
1351,7.040550e+17,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845121142784/photo/1,60,50,a,None,None,None,None
1433,6.974630e+17,NaN,NaN,2016-02-10 16:51:59 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/697463031882764288/photo/1,44,40,None,None,None,None,None
1598,6.860360e+17,6.860000e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give these cooperative pups that low of a rating",NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1634,6.842260e+17,6.840000e+17,4.196984e+09,2016-01-05 04:11:44 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/684225744407494656/photo/1,https://twitter.com/dog_rates/status/684225744407494656/photo/1",143,130,None,None,None,None,None
1635,6.842230e+17,NaN,NaN,2016-01-05 04:00:18 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684222868335505415/photo/1,121,110,None,None,None,None,None
1662,6.829620e+17,NaN,NaN,2016-01-01 16:30:13 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,NaN,NaN,NaN,https://twitter.com/dog_rates/status/682962037429899265/photo/1,7,11,Darrel,None,None,None,None
1663,6.828090e+17,6.830000e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1779,6.777170e+17,NaN,NaN,2015-12-18 05:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677716515794329600/photo/1,144,120,None,None,None,None,None
1843,6.758530e+17,NaN,NaN,2015-12-13 01:41:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/675853064436391936/photo/1,https://twitter.com/dog_rates/status/675853064436391936/photo/1",88,80,None,None,None,None,None
2335,6.662870e+17,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406224695296/photo/1,1,2,an,None,None,None,None

In [25]:
# source of tweet for tweet_arch
tweet_arch['source'].value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [26]:
# finding tweet with name with one letter
tweet_arch[tweet_arch['name'].apply(len) < 2 ]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
56,8.815360e+17,NaN,NaN,2017-07-02 15:32:16 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a pupper approaching maximum borkdrive. Zooming at never before seen speeds. 14/10 paw-inspiring af \n(IG: puffie_the_chow) https://t.co/ghXBIIeQZF,NaN,NaN,NaN,https://twitter.com/dog_rates/status/881536004380872706/video/1,14,10,a,None,None,pupper,None
649,7.929130e+17,NaN,NaN,2016-10-31 02:17:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a perfect example of someone who has their priorities in order. 13/10 for both owner and Forrest https://t.co/LRyMrU7Wfq,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.com/dog_rates/status/792913359805018113/photo/1",13,10,a,None,None,None,None
775,7.762020e+17,NaN,NaN,2016-09-14 23:30:38 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is O'Malley. That is how he sleeps. Doesn't care what you think about it. 10/10 comfy af https://t.co/Pq150LeRaC,NaN,NaN,NaN,https://twitter.com/dog_rates/status/776201521193218049/photo/1,10,10,O,None,None,None,None
801,7.725820e+17,NaN,NaN,2016-09-04 23:46:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Guys this is getting so out of hand. We only rate dogs. This is a Galapagos Speed Panda. Pls only send dogs... 10/10 https://t.co/8lpAGaZRFn,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/772581559778025472/photo/1,https://twitter.com/dog_rates/status/772581559778025472/photo/1,https://twitter.com/dog_rates/status/772581559778025472/photo/1",10,10,a,None,None,None,None
1002,7.478860e+17,NaN,NaN,2016-06-28 20:14:22 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a mighty rare blue-tailed hammer sherk. Human almost lost a limb trying to take these. Be careful guys. 8/10 https://t.co/TGenMeXreW,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/747885874273214464/photo/1,https://twitter.com/dog_rates/status/747885874273214464/photo/1",8,10,a,None,None,None,None
1004,7.478170e+17,NaN,NaN,2016-06-28 15:40:07 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Viewer discretion is advised. This is a terrible attack in progress. Not even in water (tragic af). 4/10 bad sherk https://t.co/L3U0j14N5R,NaN,NaN,NaN,https://twitter.com/dog_rates/status/747816857231626240/photo/1,4,10,a,None,None,None,None
1017,7.468730e+17,NaN,NaN,2016-06-26 01:08:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a carrot. We only rate dogs. Please only send in dogs. You all really should know this by now ...11/10 https://t.co/9e48aPrBm2,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/746872823977771008/photo/1,https://twitter.com/dog_rates/status/746872823977771008/photo/1",11,10,a,None,None,None,None
1049,7.432230e+17,NaN,NaN,2016-06-15 23:24:09 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a very rare Great Alaskan Bush Pupper. Hard to stumble upon without spooking. 12/10 would pet passionately https://t.co/xOBKCdpzaa,NaN,NaN,NaN,https://twitter.com/dog_rates/status/743222593470234624/photo/1,12,10,a,None,None,pupper,None
1193,7.175380e+17,NaN,NaN,2016-04-06 02:21:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",People please. This is a Deadly Mediterranean Plop T-Rex. We only rate dogs. Only send in dogs. Thanks you... 11/10 https://t.co/2ATDsgHD4n,NaN,NaN,NaN,https://twitter.com/dog_rates/status/717537687239008257/photo/1,11,10,a,None,None,None,None
1207,7.157330e+17,NaN,NaN,2016-04-01 02:51:22 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a taco. We only rate dogs. Please only send in dogs. Dogs are what we rate. Not tacos. Thank you... 10/10 https://t.co/cxl6xGY8B9,NaN,NaN,NaN,https://twitter.com/dog_rates/status/715733265223708672/photo/1,10,10,a,None,None,None,None
1340,7.048600e+17,NaN,NaN,2016-03-02 02:43:09 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a heartbreaking scene of an incredible pupper being laid to rest. 10/10 RIP pupper https://t.co/81mvJ0rGRu,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704859558691414016/photo/1,10,10,a,None,None,pupper,None
1351,7.040550e+17,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845121142784/photo/1,60,50,a,None,None,None,None
1361,7.030790e+17,NaN,NaN,2016-02-26 04:48:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Butternut Cumberfloof. It's not windy they just look like that. 11/10 back at it again with the red socks https://t.co/hMjzhdUHaW,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/703079050210877440/photo/1,https://twitter.com/dog_rates/status/703079050210877440/photo/1",11,10,a,None,None,None,None
1368,7.025400e+17,NaN,NaN,2016-02-24 17:04:07 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Wild Tuscan Poofwiggle. Careful not to startle. Rare tongue slip. One eye magical. 12/10 would def pet https://t.co/4EnShAQjv6,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/702539513671897089/photo/1,https://twitter.com/dog_rates/status/702539513671897089/photo/1,https://twitter.com/dog_rates/status/702539513671897089/photo/1",12,10,a,None,None,None,None
1382,7.008640e+17,NaN,NaN,2016-02-20 02:06:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","""Pupper is a present to world. Here is a bow for pupper."" 12/10 precious as hell https://t.co/ItSsE92gCW",NaN,NaN,NaN,https://twitter.com/dog_rates/status/700864154249383937/photo/1,12,10,a,None,None,pupper,None
1499,6.921870e+17,NaN,NaN,2016-01-27 03:26:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a rare Arctic Wubberfloof. Unamused by the happenings. No longer has the appetites. 12/10 would totally hug https://t.co/krvbacIX0N,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/692187005137076224/photo/1,https://twitter.com/dog_rates/status/692187005137076224/photo/1,https://twitter.com/dog_rates/status/692187005137076224/photo/1",12,10,a,None,None,None,None
1737,6.795300e+17,NaN,NaN,2015-12-23 05:13:38 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Guys this really needs to stop. We've been over this way too many times. This is a giraffe. We only rate dogs.. 7/10 https://t.co/yavgkHYPOC,NaN,NaN,NaN,https://twitter.com/dog_rates/status/679530280114372609/photo/1,7,10,a,None,None,None,None
1785,6.776440e+17,NaN,NaN,2015-12-18 00:18:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a dog swinging. I really enjoyed it so I hope you all do as well. 11/10 https://t.co/Ozo9KHTRND,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677644091929329666/video/1,11,10,a,None,None,None,None
1853,6.757070e+17,NaN,NaN,2015-12-12 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Sizzlin Menorah spaniel from Brooklyn named Wylie. Lovable eyes. Chiller as hell. 10/10 and I'm out.. poof https://t.co/7E0AiJXPmI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675706639471788032/photo/1,10,10,a,None,None,None,None
1854,6.755340e+17,NaN,NaN,2015-12-12 04:35:48 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Seriously guys?! Only send in dogs. I only rate dogs. This is a baby black bear... 11/10 https://t.co/H7kpabTfLj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675534494439489536/photo/1,11,10,a,None,None,None,None
1877,6.751090e+17,NaN,NaN,2015-12-11 00:26:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",C'mon guys. We've been over this. We only rate dogs. This is a cow. Please only submit dogs. Thank you...... 9/10 https://t.co/WjcELNEqN2,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675109292475830276/photo/1,9,10,a,None,None,None,None
1878,6.750470e+17,NaN,NaN,2015-12-10 20:19:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a fluffy albino Bacardi Columbia mix. Excellent at the tweets. 11/10 would hug gently https://t.co/diboDRUuEI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675047298674663426/photo/1,11,10,a,None,None,None,None
1923,6.740830e+17,NaN,NaN,2015-12-08 04:27:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Sagitariot Baklava mix. Loves her new hat. 11/10 radiant pup https://t.co/Bko5kFJYUU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674082852460433408/photo/1,11,10,a,None,None,None,None
1941,6.737160e+17,NaN,NaN,2015-12-07 04:09:13 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a heavily opinionated dog. Loves walls. Nobody knows how the hair works. Always ready for a kiss. 4/10 https://t.co/dFiaKZ9cDl,NaN,NaN,NaN,https://twitter.com/dog_rates/status/673715861853720576/photo/1,4,10,a,None,None,None,None
1955,6.736370e+17,NaN,NaN,2015-12-06 22:54:44 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Lofted Aphrodisiac Terrier named Kip. Big fan of bed n breakfasts. Fits perfectly. 10/10 would pet firmly https://t.co/gKlLpNzIl3,NaN,NaN,NaN,https://twitter.com/dog_rates/status/673636718965334016/photo/1,10,10,a,None,None,None,None
1994,6.726040e+17,NaN,NaN,2015-12-04 02:31:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a baby Rand Paul. Curls for days. 11/10 would cuddle the hell out of https://t.co/xHXNaPAYRe,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672604026190569472/photo/1,11,10,a,None,None,None,None
2034,6.717430e+17,NaN,NaN,2015-12-01 17:30:22 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Tuscaloosa Alcatraz named Jacob (Yacb). Loves to sit in swing. Stellar tongue. 11/10 look at his feet https://t.co/2IslQ8ZSc7,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671743150407421952/photo/1,11,10,a,None,None,None,None
2066,6.711470e+17,NaN,NaN,2015-11-30 02:01:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Helvetica Listerine named Rufus. This time Rufus will be ready for the UPS guy. He'll never expect it 9/10 https://t.co/34OhVhMkVr,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671147085991960577/photo/1,9,10,a,None,None,None,None
2116,6.704270e+17,NaN,NaN,2015-11-28 02:20:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Deciduous Trimester mix named Spork. Only 1 ear works. No seat belt. Incredibly reckless. 9/10 still cute https://t.co/CtuJoLHiDo,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670427002554466305/photo/1,9,10,a,None,None,None,None
2125,6.703620e+17,NaN,NaN,2015-11-27 22:01:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Rich Mahogany Seltzer named Cherokee. Just got destroyed by a snowball. Isn't very happy about it. 9/10 https://t.co/98ZBi6o4dj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670361874861563904/photo/1,9,10,a,None,None,None,None
2128,6.703030e+17,NaN,NaN,2015-11-27 18:09:09 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Speckled Cauliflower Yosemite named Hemry. He's terrified of intruder dog. Not one bit comfortable. 9/10 https://t.co/yV3Qgjh8iN,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670303360680108032/photo/1,9,10,a,None,None,None,None
2146,6.699230e+17,NaN,NaN,2015-11-26 16:59:01 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a spotted Lipitor Rumpelstiltskin named Alphred. He can't wait for the Turkey. 10/10 would pet really well https://t.co/6GUGO7azNX,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669923323644657664/photo/1,10,10,a,None,None,None,None
2153,6.696620e+17,NaN,NaN,2015-11-25 23:39:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a brave dog. Excellent free climber. Trying to get closer to God. Not very loyal though. Doesn't bark. 5/10 https://t.co/ODnILTr4QM,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669661792646373376/photo/1,5,10,a,None,None,None,None
2161,6.695640e+17,NaN,NaN,2015-11-25 17:13:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Coriander Baton Rouge named Alfredo. Loves to cuddle with smaller well-dressed dog. 10/10 would hug lots https://t.co/eCRdwouKCl,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669564461267722241/photo/1,10,10,a,None,None,None,None
2191,6.689560e+17,NaN,NaN,2015-11-24 00:54:05 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Slovakian Helter Skelter Feta named Leroi. Likes to skip on roofs. Good traction. Much balance. 10/10 wow! https://t.co/Dmy2mY2Qj5,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668955713004314625/photo/1,10,10,a,None,None,None,None
2198,6.688150e+17,NaN,NaN,2015-11-23 15:35:39 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a wild Toblerone from Papua New Guinea. Mouth always open. Addicted to hay. Acts blind. 7/10 handsome dog https://t.co/IGmVbz07tZ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668815180734689280/photo/1,7,10,a,None,None,None,None
2211,6.686150e+17,NaN,NaN,2015-11-23 02:19:29 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a horned dog. Much grace. Can jump over moons (dam!). Paws not soft. Bad at barking. 7/10 can still pet tho https://t.co/2Su7gmsnZm,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668614819948453888/photo/1,7,10,a,None,None,None,None
2218,6.685080e+17,NaN,NaN,2015-11-22 19:13:05 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Birmingham Quagmire named Chuk. Loves to relax and watch the game while sippin on that iced mocha. 10/10 https://t.co/HvNg9JWxFt,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668507509523615744/photo/1,10,10,a,None,None,None,None
2222,6.684670e+17,NaN,NaN,2015-11-22 16:31:42 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a mother dog caring for her pups. Snazzy red mohawk. Doesn't wag tail. Pups look confused. Overall 4/10 https://t.co/YOHe6lf09m,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668466899341221888/photo/1,4,10,a,None,None,None,None
2235,6.681720e+17,NaN,NaN,2015-11-21 20:59:20 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Trans Siberian Kellogg named Alfonso. Huge ass eyeballs. Actually Dobby from Harry Potter. 7/10 https://t.co/XpseHBlAAb,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668171859951755264/photo/1,7,10,a,None,None,None,None
2249,6.678610e+17,NaN,NaN,2015-11-21 00:25:26 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Shotokon Macadamia mix named Cheryl. Sophisticated af. Looks like a disappointed librarian. Shh (lol) 9/10 https://t.co/J4GnJ5Swba,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667861340749471744/photo/1,9,10,a,None,None,None,None
2255,6.677730e+17,NaN,NaN,2015-11-20 18:35:10 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>",This is a rare Hungarian Pinot named Jessiga. She is either mid-stroke or got stuck in the washing machine. 8/10 https://t.co/ZU0i0KJyqD,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667773195014021121/photo/1,8,10,a,None,None,None,None
2264,6.675390e+17,NaN,NaN,2015-11-20 03:04:08 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>",This is a southwest Coriander named Klint. Hat looks expensive. Still on house arrest :(\n9/10 https://t.co/IQTOMqDUIe,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667538891197542400/photo/1,9,10,a,None,None,None,None
2273,6.674710e+17,NaN,NaN,2015-11-19 22:32:36 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>",This is a northern Wahoo named Kohl. He runs this town. Chases tumbleweeds. Draws gun wicked fast. 11/10 legendary https://t.co/J4vn2rOYFk,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667470559035432960/photo/1,11,10,a,None,None,None,None
2287,6.671780e+17,NaN,NaN,2015-11-19 03:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Dasani Kingfisher from Maine. His name is Daryl. Daryl doesn't like being swallowed by a panda. 8/10 https://t.co/jpaeu6LNmW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667177989038297088/photo/1,8,10,a,None,None,None,None
2304,6.669840e+17,NaN,NaN,2015-11-18 14:18:59 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a curly Ticonderoga named Pepe. No feet. Loves to jet ski. 11/10 would hug until forever https://t.co/cyDfaK8NBc,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666983947667116034/photo/1,11,10,a,None,None,None,None
2311,6.667820e+17,NaN,NaN,2015-11-18 00:55:42 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Bacardi named Octaviath. Can shoot spaghetti out of mouth. 10/10 https://t.co/uEvsGLOFHa,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666781792255496192/photo/1,10,10,a,None,None,None,None
2314,6.667010e+17,NaN,NaN,2015-11-17 19:35:19 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a golden Buckminsterfullerene named Johm. Drives trucks. Lumberjack (?). Enjoys wall. 8/10 would hug softly https://t.co/uQbZJM2DQB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666701168228331520/photo/1,8,10,a,None,None,None,None
2327,6.664070e+17,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a southern Vesuvius bumblegruff. Can drive a truck (wow). Made friends with 5 other nifty dogs (neat). 7/10 https://t.co/LopTBkKa8h,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126856765440/photo/1,7,10,a,None,None,None,None
2334,6.662940e+17,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a funny dog. Weird toes. Won't come down. Loves branch. Refuses to eat his food. Hard to cuddle with. 3/10 https://t.co/IIXis0zta0,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911632134144/photo/1,3,10,a,None,None,None,None

In [27]:
# Number of tweet with denominator not equal to 10
tweet_arch.query('rating_denominator != 10')['tweet_id'].count()

23

In [28]:
# duplicate jpg_url in img_pred table
sum(img_pred['jpg_url'].duplicated())

66

In [29]:
# checking rating denominator	 value
tweet_arch['rating_numerator'].value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [30]:
# checking rating denominator value
tweet_arch['rating_denominator'].value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [31]:
# checking name of dog
tweet_arch['name'].value_counts()

None              745
a                  55
Charlie            12
Lucy               11
Oliver             11
Cooper             11
Lola               10
Penny              10
Tucker             10
Winston             9
Bo                  9
Sadie               8
the                 8
Toby                7
Daisy               7
Buddy               7
Bailey              7
an                  7
Scout               6
Leo                 6
Stanley             6
Dave                6
Koda                6
Jack                6
Milo                6
Bella               6
Jax                 6
Oscar               6
Rusty               6
Gus                 5
Finn                5
Alfie               5
Chester             5
Sunny               5
George              5
Bentley             5
Louis               5
Sammy               5
Larry               5
very                5
Oakley              5
Phil                5
Hank                4
Maggie              4
quite               4
Sampson             4
Brody               4
Beau                4
Sophie              4
Boomer              4
Gerald              4
Scooter             4
Luna                4
Archie              4
Maddie              4
Maximus             4
one                 4
Winnie              4
Chip                4
Reggie              4
Dexter              4
Duke                4
Bear                4
Shadow              4
Riley               4
Carl                4
Walter              4
Loki                4
Gary                4
Moose               4
Clarence            4
Cassie              4
Reginald            4
Jeffrey             4
Jerry               4
Derek               4
just                4
Clark               4
Ruby                4
Bruce               4
Klevin              3
Ellie               3
Waffles             3
Vincent             3
Ted                 3
Jimothy             3
Max                 3
Nala                3
Doug                3
Rory                3
Wyatt               3
Otis                3
Sebastian           3
Rosie               3
Paisley             3
Wilson              3
Lily                3
Peaches             3
Kyle                3
Olive               3
Steven              3
Gizmo               3
Mia                 3
Malcolm             3
Coco                3
Calvin              3
Louie               3
Wallace             3
Reese               3
Zeke                3
Lorenzo             3
Samson              3
Arnie               3
Zoey                3
Earl                3
Frankie             3
Colby               3
Mister              2
Anakin              2
Albert              2
Wally               2
Misty               2
Maxaroni            2
Marley              2
Solomon             2
Tyrone              2
Finley              2
Pablo               2
Jimison             2
Belle               2
Sarge               2
Axel                2
Luca                2
Eve                 2
Keurig              2
Smokey              2
Harper              2
Piper               2
Cody                2
Odie                2
actually            2
Paull               2
Fred                2
Flvio              2
Chipson             2
Jamesy              2
Happy               2
Rizzy               2
Nelly               2
CeCe                2
Davey               2
Cupcake             2
Panda               2
Stubert             2
Griffin             2
Benji               2
Ozzy                2
Doc                 2
Bernie              2
Philbert            2
Emmy                2
Ava                 2
Sam                 2
Charles             2
Cali                2
Ken                 2
Lilly               2
Lennon              2
Gromit              2
Jesse               2
Astrid              2
Theodore            2
Baloo               2
Kreggory            2
Elliot              2
Chelsea             2
Rufus               2
Hammond             2
Linda               2
Baxter              2
Oshie               2
Lincoln             2
Eli                 2
Patrick             2
Roosevelt           2
Gidget              2
Crystal             2
Bell                2
Alice               2
Coops               2
Dakota              2
Pickles             2
Opal                2
Hunter              2
Ash                 2
Penelope            2
Blitz               2
Phred               2
Curtis              2
Watson              2
Shaggy              2
Balto               2
Thumas              2
Kenny               2
Gabe                2
Chet                2
Chompsky            2
Butter              2
Rubio               2
Frank               2
Cash                2
Bisquick            2
Terry               2
Kreg                2
Nollie              2
Bob                 2
Fiona               2
Kirby               2
Phineas             2
Percy               2
Lou                 2
Sugar               2
Rocco               2
Betty               2
not                 2
Aspen               2
Juno                2
Tyr                 2
Seamus              2
Bubbles             2
Atticus             2
Timison             2
Indie               2
Harold              2
Ollie               2
Hercules            2
Bungalo             2
Romeo               2
Olivir             2
Raymond             2
Moe                 2
Jiminy              2
mad                 2
Titan               2
Calbert             2
Sierra              2
Meyer               2
Pipsy               2
Atlas               2
Yogi                2
Dash                2
Stephan             2
Herm                2
Kyro                2
Carly               2
Sansa               2
Canela              2
Quinn               2
Moreton             2
Franklin            2
Dawn                2
Benedict            2
Trooper             2
Hobbes              2
Churlie             2
Albus               2
Herald              2
Jeph                2
Kilo                2
Pippa               2
Hurley              2
getting             2
Remington           2
Django              2
Neptune             2
Levi                2
Fizz                2
Lenny               2
Kenneth             2
Abby                2
Rocky               2
Layla               2
Logan               2
Olivia              2
Leela               2
Herschel            2
Kevin               2
Mattie              2
Jackson             2
Keith               2
Terrance            2
Klein               2
Sandy               2
Brad                2
Chuckles            2
Aja                 1
Yukon               1
Gerbald             1
Lugan               1
Kanu                1
Dunkin              1
Ronnie              1
Angel               1
Grizz               1
by                  1
Chadrick            1
Bobble              1
Pluto               1
Lolo                1
old                 1
Timmy               1
Bruiser             1
Brockly             1
Skye                1
Ester               1
Sweets              1
Howie               1
Nigel               1
Rolf                1
Aldrick             1
Bronte              1
Blanket             1
Callie              1
Teddy               1
O                   1
Staniel             1
Bodie               1
Godi                1
Barry               1
Coopson             1
Jeremy              1
Nida                1
Jimbo               1
Dot                 1
Lilah               1
Randall             1
Ebby                1
Divine              1
Chuck               1
Arya                1
Juckson             1
Freddery            1
Alexander           1
Darla               1
Chevy               1
Tito                1
Rumble              1
Chef                1
Stephanus           1
Mya                 1
Nugget              1
Emma                1
Lizzie              1
Alfy                1
Carper              1
Peanut              1
Brandy              1
Sparky              1
Jeffrie             1
Sky                 1
Kaiya               1
Schnitzel           1
Shiloh              1
Hubertson           1
Livvie              1
Tove                1
Pumpkin             1
Cecil               1
Oddie               1
Augie               1
Harrison            1
Henry               1
Rhino               1
Michelangelope      1
Dietrich            1
Terrenth            1
Jaspers             1
Genevieve           1
Farfle              1
Petrick             1
Ole                 1
Roscoe              1
Mary                1
Sully               1
Mason               1
Amber               1
Ralf                1
Poppy               1
Kona                1
Ziva                1
Flash               1
Carll               1
Izzy                1
Huck                1
Creg                1
Rover               1
Obie                1
Lorelei             1
Brudge              1
light               1
Fiji                1
Vinnie              1
Autumn              1
Lassie              1
Chloe               1
Jed                 1
Filup               1
Tedders             1
Hamrick             1
Leonidas            1
Jazzy               1
Edd                 1
Bauer               1
Florence            1
Maxwell             1
Jockson             1
Cedrick             1
Mitch               1
Pete                1
Jim                 1
Glacier             1
Pavlov              1
Ozzie               1
Rascal              1
Willem              1
Sandra              1
Eleanor             1
Bloop               1
Meera               1
Sonny               1
Buddah              1
Craig               1
Skittle             1
Leonard             1
Lulu                1
infuriating         1
Snoopy              1
Siba                1
Rodney              1
Bilbo               1
Sobe                1
Laela               1
Devn               1
Kara                1
Marvin              1
Maisey              1
Venti               1
Alexanderson        1
Thor                1
Travis              1
Skittles            1
Carter              1
Samsom              1
Tassy               1
BeBe                1
Clifford            1
Ralph              1
Damon               1
Jarvis              1
Ralpher             1
Coleman             1
Kial                1
Cupid               1
Napolean            1
Barney              1
Sid                 1
Sora                1
Mutt                1
Eriq                1
Odin                1
Norman              1
Tino                1
Chesterson          1
Lupe                1
Finnegus            1
Andru               1
Horace              1
Batdog              1
Doobert             1
Shadoe              1
Kulet               1
Remus               1
Dotsy               1
Pilot               1
Brady               1
Christoper          1
Fletcher            1
Geno                1
Rinna               1
Tuck                1
Iggy                1
Bradley             1
Pancake             1
Maks                1
Beya                1
Clarq               1
Lucky               1
Pip                 1
Laika               1
River               1
Einstein            1
Toffee              1
Kallie              1
Mookie              1
Schnozz             1
Ridley              1
Clarkus             1
my                  1
Geoff               1
Tobi                1
Hermione            1
Ricky               1
Tango               1
Rontu               1
Alf                 1
Lipton              1
Molly               1
Zooey               1
Crumpet             1
Linus               1
Nico                1
Miguel              1
Dido                1
Iroh                1
Superpup            1
Bradlay             1
Ember               1
Danny               1
Hector              1
Wafer               1
Mabel               1
Kendall             1
Striker             1
Anna                1
Heinrich            1
Jiminus             1
Durg                1
Willow              1
Lance               1
Berb                1
Tilly               1
Maya                1
Mairi               1
Tater               1
Frnq               1
Mosby               1
Tupawc              1
Fabio               1
Olaf                1
Vixen               1
Rupert              1
Severus             1
Remy                1
Mollie              1
Charleson           1
Jangle              1
Ivar                1
Jennifur            1
Todo                1
Apollo              1
Newt                1
Jessifer            1
Rilo                1
Edmund              1
Torque              1
Nimbus              1
Enchilada           1
Obi                 1
Harlso              1
Stormy              1
Barclay             1
Champ               1
Joshwa              1
Jackie              1
Zuzu                1
Noah                1
Cora                1
Arnold              1
Wishes              1
Bode                1
Harvey              1
Gilbert             1
Katie               1
Beemo               1
Bubba               1
Covach              1
Stewie              1
Dante               1
life                1
Grizzie             1
DonDon              1
Tug                 1
Aiden               1
Gin                 1
Major               1
Moofasa             1
Chase               1
Mingus              1
Rambo               1
Trigger             1
Charl               1
Herb                1
Chaz                1
Crawford            1
Flurpson            1
Kaia                1
Kota                1
Dwight              1
Sweet               1
Brutus              1
Monkey              1
Timofy              1
Claude              1
Humphrey            1
Sojourner           1
Koko                1
Zeus                1
Ron                 1
Aubie               1
Emanuel             1
Kuyu                1
Pupcasso            1
Birf                1
Hero                1
Spencer             1
Banjo               1
Pherb               1
Derby               1
Snickers            1
Perry               1
Taco                1
Gordon              1
Mac                 1
Blakely             1
Tessa               1
Jonah               1
Buckley             1
Baron               1
Zeek                1
Gustaf              1
Billl               1
Richie              1
Tommy               1
Diogi               1
Josep               1
Strider             1
Cuddles             1
Jareld              1
Carbon              1
Ralphus             1
Acro                1
Trevith             1
Darrel              1
Sprout              1
Sailer              1
Strudel             1
Biden               1
Dylan               1
Liam                1
Arlo                1
Puff                1
Dex                 1
Tess                1
Beckham             1
all                 1
Shawwn              1
Aqua                1
Lacy                1
Link                1
Harnold             1
Marty               1
Marlee              1
Boston              1
Socks               1
Edgar               1
Tiger               1
Dobby               1
Gunner              1
Rumpole             1
Deacon              1
Bobby               1
Tebow               1
Grdn              1
Andy                1
Binky               1
Beebop              1
Ginger              1
Raphael             1
Jett                1
Brandonald          1
Loomis              1
Suki                1
Kramer              1
Emmie               1
Reptar              1
Lenox               1
Holly               1
Asher               1
Ambrose             1
Boots               1
Blipson             1
Mo                  1
Chuq                1
Clyde               1
Bluebert            1
Ruffles             1
Brian               1
unacceptable        1
Orion               1
Duddles             1
Walker              1
Wiggles             1
Sage                1
Billy               1
Lillie              1
Antony              1
Kayla               1
Fillup              1
Stark               1
Willie              1
such                1
Margo               1
Franq               1
Gustav              1
Sundance            1
Shikha              1
Naphaniel           1
Patch               1
Dutch               1
Akumi               1
Jazz                1
William             1
Cheryl              1
Malikai             1
Bobb                1
Karma               1
Pubert              1
Cannon              1
Bertson             1
Eevee               1
Oreo                1
Wesley              1
Julio               1
Kirk                1
Hazel               1
Tayzie              1
Pippin              1
Daniel              1
Fido                1
Erik                1
Trip                1
Willy               1
Storkson            1
Corey               1
Brat                1
Kingsley            1
Monster             1
Gabby               1
Pawnd               1
Keet                1
Scott               1
Ronduh              1
Al                  1
Dug                 1
Ralphson            1
Dewey               1
Eazy                1
Jessiga             1
Georgie             1
Ferg                1
Mike                1
Caryl               1
Kawhi               1
Monty               1
Cleopatricia        1
Kevon               1
Huxley              1
incredibly          1
Opie                1
Brownie             1
Grizzwald           1
Tom                 1
Maude               1
Fwed                1
Lambeau             1
Bones               1
Bonaparte           1
Traviss             1
Hall                1
DayZ                1
Luther              1
Adele               1
Scruffers           1
Glenn               1
Lili                1
Ace                 1
Duchess             1
Winifred            1
Crimson             1
Dook                1
Berkeley            1
Rueben              1
Mark                1
Darby               1
Benny               1
Jerome              1
Godzilla            1
Grady               1
Simba               1
Cal                 1
Timber              1
Kathmandu           1
Mona                1
Jarod               1
Bloo                1
Gert                1
Bookstore           1
Shnuggles           1
Reagan              1
Zoe                 1
Jeffri              1
Pinot               1
Colin               1
Stella              1
Rudy                1
Rodman              1
Ralphie             1
Sephie              1
Arlen               1
Zara                1
Jaycob              1
Meatball            1
Ulysses             1
Brandi              1
Longfellow          1
Marq                1
Joey                1
Blue                1
Fynn                1
Cilantro            1
Tuco                1
Sailor              1
Furzey              1
Rufio               1
his                 1
Shelby              1
JD                  1
Rorie               1
Evy                 1
Ed                  1
Shakespeare         1
Kody                1
Rey                 1
Amlie              1
Dallas              1
Jordy               1
Chubbs              1
Jomathan            1
Ralphy              1
Saydee              1
Goose               1
Kobe                1
Snicku              1
Kloey               1
Tripp               1
Jay                 1
Rizzo               1
Steve               1
Hanz                1
Stuart              1
Rooney              1
Dale                1
Jeb                 1
Kellogg             1
Banditt             1
Ben                 1
Bobbay              1
Griswold            1
Millie              1
Noosh               1
Eugene              1
Kane                1
Mimosa              1
Snoop               1
space               1
Halo                1
Taz                 1
Tedrick             1
Ashleigh            1
Kenzie              1
Jebberson           1
Butters             1
Burt                1
Spark               1
Crouton             1
this                1
Grey                1
officially          1
Stu                 1
Lilli               1
Cheesy              1
Donny               1
Blu                 1
Amy                 1
Alejandro           1
Tycho               1
Smiley              1
Brooks              1
Bruno               1

In [32]:
# checking number of floofer, puppo, doggo and pupper
tweet_arch_clean['floofer'].value_counts()

NameError: name 'tweet_arch_clean' is not defined

In [ ]:
tweet_arch_clean['puppo'].value_counts()

In [ ]:
tweet_arch_clean['doggo'].value_counts()

In [ ]:
tweet_arch_clean['pupper'].value_counts()

## Quality

#### Tweet_arch table
- Tweet_id columns should be datatype string

- change timestamp column with datatype datetime

- Timestamp has extra +000

- Replace dog name with one letter. Also replacing dog with no name from 'None' to Nan value

- Clean the source column to remove link and just show the source

- Duplicate tweet id needs to be removed 

- Assign all the rating_denominator value to 10 by keeping the ratio of rating_numerator the same 

- Delete the outlier value from rating_numerator 

- Change 'None' to Nan in the column doggo, floofer, pupper, puppo. Also merge the four column and convert to one column.


#### Img_pred table

- change datatype of tweet_id to string 

- P1, p2, p3 has a mix of upper and lower case. Make it all lower case 

- remove duplicate in jpg_url in retweet

#### Tweet_info table

- Tweet_id should be string 


## Tidiness
- 4 column not needed and can be merged (doggo, floofer, pupper, puppo)

- Drop column unnecessary to our analysis in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp in tweet_arch table. Drop column jpg_url, img_num from img_pred table. Drop column timestamp from tweet_info table. 

- Join dataframe tweet_arch, tweet_info and img_pred.

## Quality

In [33]:
# creating a copy of the three dataframe
tweet_arch_clean = tweet_arch.copy()
tweet_info_clean = tweet_info.copy()
img_pred_clean = img_pred.copy()

#### Define

- Drop column unnecessary to our analysis in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp in tweet_arch table. Drop column jpg_url, img_num from img_pred table. Drop column timestamp from tweet_info table.

In [34]:
# dropping the columns 'expanded_urls','in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'
tweet_arch_clean.drop(columns = ['expanded_urls','in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], inplace = True)

In [35]:
# dropping the columns 'jpg_url', 'img_num'
img_pred_clean.drop(columns = ['jpg_url', 'img_num'], inplace = True)

#### Test

In [36]:
list(tweet_arch_clean.columns)

['tweet_id',
 'timestamp',
 'source',
 'text',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo']

In [37]:
list(img_pred_clean.columns)

['tweet_id',
 'p1',
 'p1_conf',
 'p1_dog',
 'p2',
 'p2_conf',
 'p2_dog',
 'p3',
 'p3_conf',
 'p3_dog']

#### Define
- Convert tweet_id in tweet_arch_clean dataframe from float to string
- Convert tweet_id in tweet_info_clean dataframe from int to string
- Convert tweet_id in img_pred_clean dataframe from int to string

In [38]:
# Convert tweet_id from all the dataframe to strings
tweet_arch_clean['tweet_id'] = tweet_arch_clean['tweet_id'].astype(str)
tweet_info_clean['tweet_id'] = tweet_info_clean['tweet_id'].astype(str)
img_pred_clean['tweet_id'] = img_pred_clean['tweet_id'].astype(str)

#### Test

In [39]:
tweet_arch_clean.dtypes

tweet_id              object
timestamp             object
source                object
text                  object
rating_numerator       int64
rating_denominator     int64
name                  object
doggo                 object
floofer               object
pupper                object
puppo                 object
dtype: object

In [40]:
tweet_info_clean.dtypes

tweet_id     object
timestamp    object
favorites     int64
retweets      int64
dtype: object

In [41]:
img_pred_clean.dtypes

tweet_id     object
p1           object
p1_conf     float64
p1_dog         bool
p2           object
p2_conf     float64
p2_dog         bool
p3           object
p3_conf     float64
p3_dog         bool
dtype: object

#### Define

- Remove '+0000' at the end of each date time information in timestamp column

In [42]:
# Remove '+0000' at the end of each date time information in timestamp column
tweet_arch_clean['timestamp'] = tweet_arch_clean['timestamp'].str[:-6]

#### Test

In [43]:
tweet_arch_clean['timestamp'].sample(5)

195     2017-04-20 19:16:59
1124    2016-05-11 01:44:07
1968    2015-12-06 01:56:44
1195    2016-04-05 18:41:02
2123    2015-11-27 23:36:23
Name: timestamp, dtype: object

#### Define

- Convert the timestamp column in tweet_arch_clean dataframe to datetime

In [44]:
# Convert the timestamp column to datetime
tweet_arch_clean['timestamp'] = pd.to_datetime(tweet_arch_clean.timestamp)

#### Test

In [45]:
tweet_arch_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2356 non-null   object
 1   timestamp           2356 non-null   datetime64[ns]
 2   source              2356 non-null   object
 3   text                2356 non-null   object
 4   rating_numerator    2356 non-null   int64
 5   rating_denominator  2356 non-null   int64
 6   name                2356 non-null   object
 7   doggo               2356 non-null   object
 8   floofer             2356 non-null   object
 9   pupper              2356 non-null   object
 10  puppo               2356 non-null   object
dtypes: datetime64[ns](1), int64(2), object(8)
memory usage: 202.6+ KB

#### Define

- Clean the source column to remove the url and just have the source name

In [46]:
tweet_arch_clean['source'] = tweet_arch_clean['source'].str.replace('<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'iPhone')
tweet_arch_clean['source'] = tweet_arch_clean['source'].str.replace('<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>', 'Vine')
tweet_arch_clean['source'] = tweet_arch_clean['source'].str.replace('<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>', 'Twitter Web')
tweet_arch_clean['source'] = tweet_arch_clean['source'].str.replace('<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>', 'TweetDeck')

#### Test

In [47]:
tweet_arch_clean['source'].value_counts()

iPhone         2221
Vine             91
Twitter Web      33
TweetDeck        11
Name: source, dtype: int64

#### Define
- Make the columns p1, p2, p3 capitalized in table img_prep_clean

In [48]:
# Make the columns p1, p2, p3 capitalized
img_pred_clean['p1'] = img_pred_clean['p1'].str.capitalize()
img_pred_clean['p2'] = img_pred_clean['p2'].str.capitalize()
img_pred_clean['p3'] = img_pred_clean['p3'].str.capitalize()

#### Test

In [49]:
img_pred_clean['p1'].sample(5)

817     German_short-haired_pointer
136                         Basenji
1139                German_shepherd
149                        Komondor
1925                       Malamute
Name: p1, dtype: object

In [50]:
img_pred_clean['p2'].sample(5)

468        English_setter
691                   Ram
433               Hamster
318               Doormat
446    American_alligator
Name: p2, dtype: object

In [51]:
img_pred_clean['p3'].sample(5)

1603    Labrador_retriever
308         French_bulldog
196             White_wolf
508                  Purse
144                   Titi
Name: p3, dtype: object

#### Define
- Assign the rating_denominator as 10 by keeping the ratio of rating_numerator and rating_denominator value the same

In [52]:
tweet_arch_clean['rating_numerator'] = tweet_arch_clean['rating_numerator']/tweet_arch_clean['rating_denominator'] * 10

In [53]:
# assigning 10.0 value to all denominator
tweet_arch_clean['rating_denominator'] = 10

#### Test

In [54]:
tweet_arch_clean['rating_denominator'].value_counts()

10    2356
Name: rating_denominator, dtype: int64

#### Define
- Delete outlier value in rating_numerator

In [55]:
tweet_arch_clean['rating_numerator'].value_counts()

12.000000      562
11.000000      469
10.000000      463
13.000000      351
9.000000       157
8.000000       102
14.000000       54
7.000000        54
5.000000        38
6.000000        32
3.000000        19
4.000000        15
2.000000        11
1.000000         8
0.000000         2
15.000000        2
8.181818         2
420.000000       2
75.000000        2
27.000000        1
6.363636         1
12.500000        1
26.000000        1
34.285714        1
inf              1
1776.000000      1
17.000000        1
7.333333         1
666.000000       1
182.000000       1
Name: rating_numerator, dtype: int64

In [56]:
# drop any numerator value 0 and above 100
tweet_arch_clean.drop(tweet_arch_clean[tweet_arch_clean.rating_numerator > 100].index, inplace = True)
tweet_arch_clean.drop(tweet_arch_clean[tweet_arch_clean.rating_numerator == 0].index, inplace = True)

#### Test

In [57]:
tweet_arch_clean['rating_numerator'].value_counts()

12.000000    562
11.000000    469
10.000000    463
13.000000    351
9.000000     157
8.000000     102
14.000000     54
7.000000      54
5.000000      38
6.000000      32
3.000000      19
4.000000      15
2.000000      11
1.000000       8
15.000000      2
8.181818       2
75.000000      2
26.000000      1
7.333333       1
17.000000      1
6.363636       1
27.000000      1
34.285714      1
12.500000      1
Name: rating_numerator, dtype: int64

#### Define
- Convert dog name with name as 'None', 'a' to Nan

In [58]:
tweet_arch_clean.name.replace('None', np.nan, inplace = True)
tweet_arch_clean.name.replace('a', np.nan, inplace = True)

#### Test

In [59]:
tweet_arch_clean['name'].value_counts()

Charlie           12
Oliver            11
Lucy              11
Cooper            11
Tucker            10
Lola              10
Penny             10
Bo                 9
Winston            9
the                8
Sadie              8
Bailey             7
Daisy              7
Toby               7
an                 7
Buddy              7
Koda               6
Milo               6
Leo                6
Stanley            6
Rusty              6
Bella              6
Jax                6
Jack               6
Dave               6
Scout              6
Oscar              6
Bentley            5
Chester            5
Gus                5
Oakley             5
Alfie              5
very               5
Sammy              5
George             5
Louis              5
Phil               5
Larry              5
Sunny              5
Finn               5
Bruce              4
Beau               4
Brody              4
Dexter             4
Sampson            4
Moose              4
quite              4
Walter             4
Scooter            4
Winnie             4
Maddie             4
Shadow             4
Maximus            4
Archie             4
Carl               4
Reginald           4
one                4
Gerald             4
Jeffrey            4
Luna               4
Loki               4
Ruby               4
Sophie             4
Reggie             4
Riley              4
Jerry              4
Bear               4
Clarence           4
Chip               4
Derek              4
Duke               4
Cassie             4
Boomer             4
Maggie             4
Hank               4
Clark              4
just               4
Gary               4
Klevin             3
Rory               3
Louie              3
Olive              3
Samson             3
Ellie              3
Rosie              3
Sebastian          3
Waffles            3
Arnie              3
Vincent            3
Frankie            3
Jimothy            3
Wyatt              3
Wallace            3
Lily               3
Coco               3
Mia                3
Max                3
Wilson             3
Nala               3
Steven             3
Zeke               3
Otis               3
Paisley            3
Zoey               3
Gizmo              3
Ted                3
Lorenzo            3
Colby              3
Calvin             3
Peaches            3
Doug               3
Reese              3
Earl               3
Kyle               3
Malcolm            3
Phineas            2
Kirby              2
Ava                2
Wally              2
Watson             2
Roosevelt          2
Curtis             2
Gidget             2
Happy              2
CeCe               2
Blitz              2
Phred              2
Ken                2
Percy              2
Belle              2
Emmy               2
Lou                2
Finley             2
Sarge              2
Kenny              2
Hammond            2
Neptune            2
Hunter             2
Opal               2
Charles            2
Eli                2
Pippa              2
Oshie              2
Baxter             2
Chelsea            2
Penelope           2
Logan              2
Lincoln            2
Patrick            2
Betty              2
Herschel           2
Keith              2
Balto              2
Shaggy             2
Mister             2
Lennon             2
Rufus              2
Flvio             2
Elliot             2
Nelly              2
Cash               2
Cupcake            2
Coops              2
Griffin            2
Eve                2
Bisquick           2
Maxaroni           2
Tyrone             2
Axel               2
Remington          2
Dakota             2
Marley             2
Solomon            2
Aspen              2
Pablo              2
Bell               2
Frank              2
Jamesy             2
Theodore           2
Ash                2
Crystal            2
Jimison            2
Alice              2
Chompsky           2
Fiona              2
Panda              2
Piper              2
Linda              2
Bob                2
Harper             2
Fred               2
Nollie             2
Jesse              2
Chipson            2
Butter             2
Paull              2
Pickles            2
actually           2
Smokey             2
Astrid             2
Mattie             2
Juno               2
Sandy              2
Quinn              2
Klein              2
Calbert            2
mad                2
Moe                2
Canela             2
Gabe               2
Ollie              2
Yogi               2
Chet               2
Rubio              2
Trooper            2
Davey              2
Indie              2
Terry              2
Bubbles            2
Albus              2
Moreton            2
Franklin           2
Sansa              2
Hercules           2
Atlas              2
Harold             2
Carly              2
getting            2
Herm               2
Churlie            2
Ozzy               2
Tyr                2
Doc                2
Benji              2
Anakin             2
Luca               2
Stubert            2
Django             2
Bernie             2
Keurig             2
Hobbes             2
Dash               2
Cali               2
Benedict           2
Olivia             2
Rocky              2
Kyro               2
Abby               2
Lenny              2
Kreggory           2
Jeph               2
Thumas             2
Stephan            2
Kreg               2
Fizz               2
Kilo               2
Levi               2
Bungalo            2
Terrance           2
Romeo              2
Olivir            2
Sam                2
Brad               2
Raymond            2
Jackson            2
Rizzy              2
Lilly              2
Gromit             2
Seamus             2
Misty              2
Baloo              2
Cody               2
Albert             2
Layla              2
Kevin              2
Chuckles           2
Meyer              2
Philbert           2
Hurley             2
Sugar              2
Rocco              2
Odie               2
Dawn               2
Jiminy             2
Sierra             2
Pipsy              2
Kenneth            2
Timison            2
Titan              2
not                2
Leela              2
Herald             2
Lolo               1
Damon              1
Jim                1
Georgie            1
Tango              1
Lucky              1
Rontu              1
Superpup           1
Lipton             1
Pete               1
Iroh               1
Ole                1
Dietrich           1
Dido               1
Jaspers            1
Nico               1
Terrenth           1
Pumpkin            1
Tove               1
Zooey              1
Livvie             1
Crumpet            1
Hubertson          1
Petrick            1
Stephanus          1
Henry              1
Wafer              1
Mya                1
Lizzie             1
Pluto              1
Alfy               1
Emma               1
light              1
Amber              1
Ralf               1
Tito               1
Kona               1
Ziva               1
Huck               1
Creg               1
Godi               1
Coopson            1
Rover              1
Jeremy             1
Nida               1
Jimbo              1
Lilah              1
Brudge             1
Chef               1
Rumble             1
Teddy              1
Sweets             1
Skye               1
Chuck              1
Brockly            1
Nigel              1
Bruiser            1
Grizz              1
Yukon              1
Chadrick           1
old                1
Izzy               1
Callie             1
Fiji               1
Lassie             1
Carper             1
Bobble             1
Aldrick            1
Rolf               1
Alexander          1
Sky                1
Kaiya              1
Schnitzel          1
Shiloh             1
Barry              1
Staniel            1
Ebby               1
Sully              1
Chloe              1
Darla              1
Angel              1
Dunkin             1
Jed                1
Filup              1
Tedders            1
Hamrick            1
Leonidas           1
Randall            1
Edd                1
Maxwell            1
O                  1
Cedrick            1
Jazzy              1
Roscoe             1
Harlso             1
Pip                1
Remy               1
Rilo               1
Todo               1
Charleson          1
Anna               1
Striker            1
Kendall            1
Ricky              1
Hermione           1
Clarkus            1
Ridley             1
Einstein           1
River              1
Laika              1
Mabel              1
Hector             1
Danny              1
Ember              1
Bradlay            1
Miguel             1
Nimbus             1
Rupert             1
Toffee             1
Durg               1
Buddah             1
Eleanor            1
Sandra             1
Snoopy             1
Siba               1
Bilbo              1
BeBe               1
Tassy              1
Carter             1
Alexanderson       1
Venti              1
Sobe               1
Vixen              1
Fabio              1
Mosby              1
Mairi              1
Maya               1
Berb               1
Willow             1
Linus              1
Molly              1
Poppy              1
Mitch              1
Jockson            1
Florence           1
Bauer              1
Autumn             1
Vinnie             1
Mary               1
Jeffrie            1
Sparky             1
Brandy             1
Peanut             1
Nugget             1
Farfle             1
Genevieve          1
Michelangelope     1
Rhino              1
Harrison           1
Augie              1
Oddie              1
Cecil              1
Flash              1
Mason              1
Carll              1
Freddery           1
Howie              1
Ronnie             1
Kanu               1
Gerbald            1
Arya               1
Timmy              1
by                 1
Lugan              1
Divine             1
Obie               1
Blanket            1
Aja                1
Bodie              1
Dot                1
Juckson            1
Bronte             1
Ester              1
Lorelei            1
Leonard            1
Lulu               1
infuriating        1
Rascal             1
Tater              1
Frnq              1
Tupawc             1
Olaf               1
Alf                1
Clarq              1
Beya               1
Maks               1
Laela              1
Devn              1
Kara               1
Marvin             1
Maisey             1
Thor               1
Travis             1
Skittles           1
Samsom             1
Glacier            1
Pavlov             1
Tilly              1
Lance              1
Jiminus            1
Ivar               1
Kallie             1
Mookie             1
Schnozz            1
my                 1
Geoff              1
Tobi               1
Heinrich           1
Jangle             1
Jennifur           1
Severus            1
Apollo             1
Mollie             1
Newt               1
Edmund             1
Torque             1
Enchilada          1
Obi                1
Jessifer           1
Ozzie              1
Willem             1
Clifford           1
Bloop              1
Chevy              1
Chesterson         1
Tino               1
Cupid              1
Kial               1
Coleman            1
Ralpher            1
Jarvis             1
Andru              1
Batdog             1
Pancake            1
Bradley            1
Iggy               1
Christoper         1
Brady              1
Dotsy              1
Kulet              1
Doobert            1
Ralph             1
Lupe               1
Norman             1
Odin               1
Fletcher           1
Meera              1
Sonny              1
Craig              1
Rodney             1
Horace             1
Shadoe             1
Remus              1
Pilot              1
Geno               1
Eriq               1
Rinna              1
Tuck               1
Finnegus           1
Napolean           1
Barney             1
Sid                1
Sora               1
Mutt               1
Skittle            1
Stormy             1
Barclay            1
Champ              1
Joshwa             1
Jackie             1
Zuzu               1
Noah               1
Cora               1
Arnold             1
Wishes             1
Bode               1
Harvey             1
Gilbert            1
Katie              1
Beemo              1
Bubba              1
Covach             1
Stewie             1
Dante              1
life               1
Grizzie            1
DonDon             1
Tug                1
Aiden              1
Gin                1
Major              1
Moofasa            1
Chase              1
Mingus             1
Rambo              1
Trigger            1
Charl              1
Herb               1
Chaz               1
Crawford           1
Flurpson           1
Kaia               1
Kota               1
Dwight             1
Sweet              1
Brutus             1
Monkey             1
Timofy             1
Claude             1
Humphrey           1
Sojourner          1
Koko               1
Zeus               1
Ron                1
Aubie              1
Emanuel            1
Kuyu               1
Pupcasso           1
Birf               1
Hero               1
Spencer            1
Banjo              1
Pherb              1
Derby              1
Snickers           1
Perry              1
Taco               1
Gordon             1
Mac                1
Blakely            1
Biden              1
Tessa              1
Jonah              1
Buckley            1
Baron              1
Zeek               1
Gustaf             1
Richie             1
Tommy              1
Diogi              1
Josep              1
Strider            1
Cuddles            1
Jareld             1
Carbon             1
Ralphus            1
Acro               1
Trevith            1
Darrel             1
Sprout             1
Sailer             1
Strudel            1
Wesley             1
Dylan              1
Liam               1
Arlo               1
Puff               1
Dex                1
Tess               1
Beckham            1
all                1
Shawwn             1
Aqua               1
Al                 1
Link               1
Harnold            1
Marty              1
Marlee             1
Boston             1
Socks              1
Edgar              1
Tiger              1
Dobby              1
Gunner             1
Rumpole            1
Deacon             1
Bobby              1
Tebow              1
Grdn             1
Andy               1
Binky              1
Beebop             1
Ginger             1
Raphael            1
Atticus            1
Jett               1
Loomis             1
Suki               1
Kramer             1
Emmie              1
Reptar             1
Lenox              1
Holly              1
Asher              1
Ambrose            1
Boots              1
Blipson            1
Mo                 1
Chuq               1
Clyde              1
Bluebert           1
Ruffles            1
Brian              1
unacceptable       1
Orion              1
Duddles            1
Walker             1
Wiggles            1
Sage               1
Billy              1
Brandonald         1
Lillie             1
Antony             1
Fillup             1
Stark              1
Willie             1
such               1
Margo              1
Franq              1
Gustav             1
Sundance           1
Shikha             1
Naphaniel          1
Patch              1
Dutch              1
Akumi              1
Jazz               1
William            1
Cheryl             1
Malikai            1
Bobb               1
Karma              1
Pubert             1
Cannon             1
Bertson            1
Eevee              1
Kayla              1
Trip               1
Oreo               1
Julio              1
Kirk               1
Hazel              1
Tayzie             1
Pippin             1
Daniel             1
Fido               1
Erik               1
Willy              1
Storkson           1
Corey              1
Brat               1
Kingsley           1
Monster            1
Gabby              1
Pawnd              1
Keet               1
Scott              1
Ronduh             1
Billl              1
Lacy               1
Ralphson           1
Goose              1
Traviss            1
Eazy               1
Jessiga            1
Ferg               1
Mike               1
Caryl              1
Kawhi              1
Monty              1
Cleopatricia       1
Kevon              1
Huxley             1
incredibly         1
Opie               1
Brownie            1
Grizzwald          1
Tom                1
Maude              1
Fwed               1
Lambeau            1
Bones              1
Bonaparte          1
Hall               1
DayZ               1
Rueben             1
Dook               1
Saydee             1
Adele              1
Scruffers          1
Glenn              1
Lili               1
Ace                1
Duchess            1
Winifred           1
Crimson            1
Luther             1
Timber             1
Berkeley           1
Mark               1
Darby              1
Benny              1
Jerome             1
Godzilla           1
Grady              1
Simba              1
Cal                1
Kathmandu          1
Mona               1
Jarod              1
Bloo               1
Gert               1
Bookstore          1
Shnuggles          1
Reagan             1
Zoe                1
Jeffri             1
Pinot              1
Colin              1
Stella             1
Rudy               1
Rodman             1
Ralphie            1
Sephie             1
Arlen              1
Zara               1
Jaycob             1
Meatball           1
Ulysses            1
Brandi             1
Longfellow         1
Marq               1
Joey               1
Blue               1
Fynn               1
Cilantro           1
Tuco               1
Sailor             1
Furzey             1
Rufio              1
his                1
Shelby             1
JD                 1
Rorie              1
Evy                1
Ed                 1
Shakespeare        1
Kody               1
Rey                1
Amlie             1
Dallas             1
Jordy              1
Chubbs             1
Jomathan           1
Ralphy             1
Dewey              1
Snicku             1
Dug                1
Robin              1
space              1
Kloey              1
Tripp              1
Jay                1
Rizzo              1
Steve              1
Hanz               1
Stuart             1
Rooney             1
Dale               1
Jeb                1
Kellogg            1
Banditt            1
Ben                1
Bobbay             1
Griswold           1
Millie             1
Noosh              1
Eugene             1
Kane               1
Mimosa             1
Halo               1
Taz                1
Stu                1
Grey               1
Kobe               1
Ashleigh           1
Kenzie             1
Jebberson          1
Butters            1
Burt               1
Spark              1
Crouton            1
this               1
Tedrick            1
Brooks             1
officially         1
Lilli              1
Cheesy             1
Donny              1
Blu                1
Amy                1
Alejandro          1
Tycho              1
Smiley             1
Snoop              1
Bruno              1
Vinscent           1
Lucia              1
Bert               1
Bayley             1
Philippe           1
Jo                 1
Vince              1
Karll              1
Mack               1
Goliath            1
Sunshine           1
Murphy             1
Chesney            1
Miley              1
Combo              1
Ralph              1
Swagger            1
Pepper             1
Tanner             1
Karl               1
Milky              1
Mauve              1
Rose               1
Jameson            1
Mojo               1
Harry              1
Ito                1
Tonks              1
Ike                1
Sprinkles          1
Anthony            1
Kollin             1
Dixie              1
Jersey             1
Tyrus              1
General            1
Yoda               1
Spanky             1
Stefan             1
Clybe              1
Dudley             1
Cermet             1
Comet              1
Bowie              1

#### Define
- Change 'None' to Nan in the column doggo, floofer, pupper, puppo. Also merge the four column and convert to one column

In [60]:
# replacing 'None' to Nan value in the column doggo, floofer, pupper, puppo
tweet_arch_clean.doggo.replace('None', np.nan, inplace = True)
tweet_arch_clean.floofer.replace('None', np.nan, inplace = True)
tweet_arch_clean.pupper.replace('None', np.nan, inplace = True)
tweet_arch_clean.puppo.replace('None', np.nan, inplace = True)

# merging the column doggo, floofer, pupper, puppo into a new column 'dog_stage'
tweet_arch_clean['dog_stages'] = tweet_arch_clean.text.str.extract('(doggo|floofer|pupper|puppo)', expand = True)

# dropping the column doggo, floofer, pupper, puppo
tweet_arch_clean.drop(columns = ['doggo', 'floofer', 'pupper', 'puppo'], inplace = True)

#### Test

In [61]:
tweet_arch_clean['dog_stages'].value_counts()

pupper     265
doggo       93
puppo       37
floofer      4
Name: dog_stages, dtype: int64

In [62]:
tweet_arch_clean.head()

,tweet_id,timestamp,source,text,rating_numerator,rating_denominator,name,dog_stages
0,8.92421e+17,2017-08-01 16:23:56,iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,13.0,10,Phineas,NaN
1,8.92177e+17,2017-08-01 00:17:27,iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",13.0,10,Tilly,NaN
2,8.91815e+17,2017-07-31 00:18:03,iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,12.0,10,Archie,NaN
3,8.9169e+17,2017-07-30 15:58:51,iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,13.0,10,Darla,NaN
4,8.91328e+17,2017-07-29 16:00:24,iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",12.0,10,Franklin,NaN

In [63]:
img_pred_clean.head()

,tweet_id,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,Welsh_springer_spaniel,0.465074,True,Collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,Redbone,0.506826,True,Miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,German_shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True
3,666044226329800704,Rhodesian_ridgeback,0.408143,True,Redbone,0.360687,True,Miniature_pinscher,0.222752,True
4,666049248165822465,Miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [64]:
img_pred.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [75]:
tweet_info_clean.head()

             tweet_id                       timestamp  favorites  retweets
0  892420643555336193  Tue Aug 01 16:23:56 +0000 2017      39467      8853
1  892177421306343426  Tue Aug 01 00:17:27 +0000 2017      33819      6514
2  891815181378084864  Mon Jul 31 00:18:03 +0000 2017      25461      4328
3  891689557279858688  Sun Jul 30 15:58:51 +0000 2017      42908      8964
4  891327558926688256  Sat Jul 29 16:00:24 +0000 2017      41048      9774

#### Define
- Join dataframe tweet_arch, tweet_info and img_pred

In [65]:
# Merging tweet_arch_clean dataframe and tweet_info_clean dataframe on tweet_id
tweet_arch_clean = pd.merge(tweet_arch_clean, tweet_info_clean, on = 'tweet_id', how = 'left')

In [66]:
# Merging tweet_arch_clean table and img_pred_clean table on tweet_id
tweet_arch_clean = pd.merge(tweet_arch_clean, img_pred_clean, on = 'tweet_id', how = 'left')

In [83]:
tweet_arch_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2348 entries, 0 to 2347
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2348 non-null   object
 1   timestamp_x         2348 non-null   datetime64[ns]
 2   source              2348 non-null   object
 3   text                2348 non-null   object
 4   rating_numerator    2348 non-null   float64
 5   rating_denominator  2348 non-null   int64
 6   name                1555 non-null   object
 7   dog_stages          399 non-null    object
 8   timestamp_y         0 non-null      object
 9   favorites           0 non-null      float64
 10  retweets            0 non-null      float64
 11  p1                  0 non-null      object
 12  p1_conf             0 non-null      float64
 13  p1_dog              0 non-null      object
 14  p2                  0 non-null      object
 15  p2_conf             0 non-null      float64
 16  p2_dog              0 non-null      object
 17  p3                  0 non-null      object
 18  p3_conf             0 non-null      float64
 19  p3_dog              0 non-null      object
dtypes: datetime64[ns](1), float64(6), int64(1), object(12)
memory usage: 385.2+ KB

In [84]:
img_pred_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   object
 1   p1        2075 non-null   object
 2   p1_conf   2075 non-null   float64
 3   p1_dog    2075 non-null   bool
 4   p2        2075 non-null   object
 5   p2_conf   2075 non-null   float64
 6   p2_dog    2075 non-null   bool
 7   p3        2075 non-null   object
 8   p3_conf   2075 non-null   float64
 9   p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), object(4)
memory usage: 119.7+ KB

In [107]:
tweet_info_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet_id   2354 non-null   object
 1   timestamp  2354 non-null   object
 2   favorites  2354 non-null   int64
 3   retweets   2354 non-null   int64
dtypes: int64(2), object(2)
memory usage: 73.7+ KB

#### Test

In [67]:
tweet_arch_clean.head()

,tweet_id,timestamp_x,source,text,rating_numerator,rating_denominator,name,dog_stages,timestamp_y,favorites,retweets,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,8.92421e+17,2017-08-01 16:23:56,iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,13.0,10,Phineas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8.92177e+17,2017-08-01 00:17:27,iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",13.0,10,Tilly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8.91815e+17,2017-07-31 00:18:03,iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,12.0,10,Archie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8.9169e+17,2017-07-30 15:58:51,iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,13.0,10,Darla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8.91328e+17,2017-07-29 16:00:24,iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",12.0,10,Franklin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
img_pred_clean.head(5)

,tweet_id,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,Welsh_springer_spaniel,0.465074,True,Collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,Redbone,0.506826,True,Miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,German_shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True
3,666044226329800704,Rhodesian_ridgeback,0.408143,True,Redbone,0.360687,True,Miniature_pinscher,0.222752,True
4,666049248165822465,Miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [74]:
tweet_arch_clean['retweets']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30     NaN
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
44     NaN
45     NaN
46     NaN
47     NaN
48     NaN
49     NaN
50     NaN
51     NaN
52     NaN
53     NaN
54     NaN
55     NaN
56     NaN
57     NaN
58     NaN
59     NaN
60     NaN
61     NaN
62     NaN
63     NaN
64     NaN
65     NaN
66     NaN
67     NaN
68     NaN
69     NaN
70     NaN
71     NaN
72     NaN
73     NaN
74     NaN
75     NaN
76     NaN
77     NaN
78     NaN
79     NaN
80     NaN
81     NaN
82     NaN
83     NaN
84     NaN
85     NaN
86     NaN
87     NaN
88     NaN
89     NaN
90     NaN
91     NaN
92     NaN
93     NaN
94     NaN
95     NaN
96     NaN
97     NaN
98     NaN
99     NaN
100    NaN
101    NaN
102    NaN
103    NaN
104    NaN
105    NaN
106    NaN
107    NaN
108    NaN
109    NaN
110    NaN
111    NaN
112    NaN
113    NaN
114    NaN
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
122    NaN
123    NaN
124    NaN
125    NaN
126    NaN
127    NaN
128    NaN
129    NaN
130    NaN
131    NaN
132    NaN
133    NaN
134    NaN
135    NaN
136    NaN
137    NaN
138    NaN
139    NaN
140    NaN
141    NaN
142    NaN
143    NaN
144    NaN
145    NaN
146    NaN
147    NaN
148    NaN
149    NaN
150    NaN
151    NaN
152    NaN
153    NaN
154    NaN
155    NaN
156    NaN
157    NaN
158    NaN
159    NaN
160    NaN
161    NaN
162    NaN
163    NaN
164    NaN
165    NaN
166    NaN
167    NaN
168    NaN
169    NaN
170    NaN
171    NaN
172    NaN
173    NaN
174    NaN
175    NaN
176    NaN
177    NaN
178    NaN
179    NaN
180    NaN
181    NaN
182    NaN
183    NaN
184    NaN
185    NaN
186    NaN
187    NaN
188    NaN
189    NaN
190    NaN
191    NaN
192    NaN
193    NaN
194    NaN
195    NaN
196    NaN
197    NaN
198    NaN
199    NaN
200    NaN
201    NaN
202    NaN
203    NaN
204    NaN
205    NaN
206    NaN
207    NaN
208    NaN
209    NaN
210    NaN
211    NaN
212    NaN
213    NaN
214    NaN
215    NaN
216    NaN
217    NaN
218    NaN
219    NaN
220    NaN
221    NaN
222    NaN
223    NaN
224    NaN
225    NaN
226    NaN
227    NaN
228    NaN
229    NaN
230    NaN
231    NaN
232    NaN
233    NaN
234    NaN
235    NaN
236    NaN
237    NaN
238    NaN
239    NaN
240    NaN
241    NaN
242    NaN
243    NaN
244    NaN
245    NaN
246    NaN
247    NaN
248    NaN
249    NaN
250    NaN
251    NaN
252    NaN
253    NaN
254    NaN
255    NaN
256    NaN
257    NaN
258    NaN
259    NaN
260    NaN
261    NaN
262    NaN
263    NaN
264    NaN
265    NaN
266    NaN
267    NaN
268    NaN
269    NaN
270    NaN
271    NaN
272    NaN
273    NaN
274    NaN
275    NaN
276    NaN
277    NaN
278    NaN
279    NaN
280    NaN
281    NaN
282    NaN
283    NaN
284    NaN
285    NaN
286    NaN
287    NaN
288    NaN
289    NaN
290    NaN
291    NaN
292    NaN
293    NaN
294    NaN
295    NaN
296    NaN
297    NaN
298    NaN
299    NaN
300    NaN
301    NaN
302    NaN
303    NaN
304    NaN
305    NaN
306    NaN
307    NaN
308    NaN
309    NaN
310    NaN
311    NaN
312    NaN
313    NaN
314    NaN
315    NaN
316    NaN
317    NaN
318    NaN
319    NaN
320    NaN
321    NaN
322    NaN
323    NaN
324    NaN
325    NaN
326    NaN
327    NaN
328    NaN
329    NaN
330    NaN
331    NaN
332    NaN
333    NaN
334    NaN
335    NaN
336    NaN
337    NaN
338    NaN
339    NaN
340    NaN
341    NaN
342    NaN
343    NaN
344    NaN
345    NaN
346    NaN
347    NaN
348    NaN
349    NaN
350    NaN
351    NaN
352    NaN
353    NaN
354    NaN
355    NaN
356    NaN
357    NaN
358    NaN
359    NaN
360    NaN
361    NaN
362    NaN
363    NaN
364    NaN
365    NaN
366    NaN
367    NaN
368    NaN
369    NaN
370    NaN
371    NaN
372    NaN
373    NaN
374    NaN
375    NaN
376    NaN
377    NaN
378    NaN
379    NaN
380    NaN
381    NaN
382    NaN
383    NaN
384    NaN
385    NaN
386    NaN
387    NaN
388    NaN
389    NaN
390    NaN
391    NaN
392    NaN
393    NaN
394    NaN
395    NaN
396    NaN
397    NaN
398    NaN
399    NaN
400    NaN
401    NaN
402    NaN
403    NaN
404    NaN
405    NaN
406    NaN
407    NaN
408    NaN
409    NaN
410    NaN
411    NaN
412    NaN
413    NaN
414    NaN
415    NaN
416    NaN
417    NaN
418    NaN
419    NaN
420    NaN
421    NaN
422    NaN
423    NaN
424    NaN
425    NaN
426    NaN
427    NaN
428    NaN
429    NaN
430    NaN
431    NaN
432    NaN
433    NaN
434    NaN
435    NaN
436    NaN
437    NaN
438    NaN
439    NaN
440    NaN
441    NaN
442    NaN
443    NaN
444    NaN
445    NaN
446    NaN
447    NaN
448    NaN
449    NaN
450    NaN
451    NaN
452    NaN
453    NaN
454    NaN
455    NaN
456    NaN
457    NaN
458    NaN
459    NaN
460    NaN
461    NaN
462    NaN
463    NaN
464    NaN
465    NaN
466    NaN
467    NaN
468    NaN
469    NaN
470    NaN
471    NaN
472    NaN
473    NaN
474    NaN
475    NaN
476    NaN
477    NaN
478    NaN
479    NaN
480    NaN
481    NaN
482    NaN
483    NaN
484    NaN
485    NaN
486    NaN
487    NaN
488    NaN
489    NaN
490    NaN
491    NaN
492    NaN
493    NaN
494    NaN
495    NaN
496    NaN
497    NaN
498    NaN
499    NaN
500    NaN
501    NaN
502    NaN
503    NaN
504    NaN
505    NaN
506    NaN
507    NaN
508    NaN
509    NaN
510    NaN
511    NaN
512    NaN
513    NaN
514    NaN
515    NaN
516    NaN
517    NaN
518    NaN
519    NaN
520    NaN
521    NaN
522    NaN
523    NaN
524    NaN
525    NaN
526    NaN
527    NaN
528    NaN
529    NaN
530    NaN
531    NaN
532    NaN
533    NaN
534    NaN
535    NaN
536    NaN
537    NaN
538    NaN
539    NaN
540    NaN
541    NaN
542    NaN
543    NaN
544    NaN
545    NaN
546    NaN
547    NaN
548    NaN
549    NaN
550    NaN
551    NaN
552    NaN
553    NaN
554    NaN
555    NaN
556    NaN
557    NaN
558    NaN
559    NaN
560    NaN
561    NaN
562    NaN
563    NaN
564    NaN
565    NaN
566    NaN
567    NaN
568    NaN
569    NaN
570    NaN
571    NaN
572    NaN
573    NaN
574    NaN
575    NaN
576    NaN
577    NaN
578    NaN
579    NaN
580    NaN
581    NaN
582    NaN
583    NaN
584    NaN
585    NaN
586    NaN
587    NaN
588    NaN
589    NaN
590    NaN
591    NaN
592    NaN
593    NaN
594    NaN
595    NaN
596    NaN
597    NaN
598    NaN
599    NaN
600    NaN
601    NaN
602    NaN
603    NaN
604    NaN
605    NaN
606    NaN
607    NaN
608    NaN
609    NaN
610    NaN
611    NaN
612    NaN
613    NaN
614    NaN
615    NaN
616    NaN
617    NaN
618    NaN
619    NaN
620    NaN
621    NaN
622    NaN
623    NaN
624    NaN
625    NaN
626    NaN
627    NaN
628    NaN
629    NaN
630    NaN
631    NaN
632    NaN
633    NaN
634    NaN
635    NaN
636    NaN
637    NaN
638    NaN
639    NaN
640    NaN
641    NaN
642    NaN
643    NaN
644    NaN
645    NaN
646    NaN
647    NaN
648    NaN
649    NaN
650    NaN
651    NaN
652    NaN
653    NaN
654    NaN
655    NaN
656    NaN
657    NaN
658    NaN
659    NaN
660    NaN
661    NaN
662    NaN
663    NaN
664    NaN
665    NaN
666    NaN
667    NaN
668    NaN
669    NaN
670    NaN
671    NaN
672    NaN
673    NaN
674    NaN
675    NaN
676    NaN
677    NaN
678    NaN
679    NaN
680    NaN
681    NaN
682    NaN
683    NaN
684    NaN
685    NaN
686    NaN
687    NaN
688    NaN
689    NaN
690    NaN
691    NaN
692    NaN
693    NaN
694    NaN
695    NaN
696    NaN
697    NaN
698    NaN
699    NaN
700    NaN
701    NaN
702    NaN
703    NaN
704    NaN
705    NaN
706    NaN
707    NaN
708    NaN
709    NaN
710    NaN
711    NaN
712    NaN
713    NaN
714    NaN
715    NaN
716    NaN
717    NaN
718    NaN
719    NaN
720    NaN
721    NaN
722    NaN
723    NaN
724    NaN
725    NaN
726    NaN
727    NaN
728    NaN
729    NaN
730    NaN
731    NaN
732    NaN
733    NaN
734    NaN
735    NaN
736    NaN
737    NaN
738    NaN
739    NaN
740    NaN
741    NaN
742    NaN
743    NaN
744    NaN
745    NaN
746    NaN
747    NaN
748    NaN
749    NaN
750    NaN
751    NaN
752    NaN
753    NaN
754    NaN
755    NaN
756    NaN
757    NaN
758    NaN
759    NaN
760    NaN
761    NaN
762    NaN
763    NaN
764    NaN
765    NaN
766    NaN
767    NaN
768    NaN
769    NaN
770    NaN
771    NaN
772    NaN
773    NaN
774    NaN
775    NaN
776    NaN
777    NaN
778    NaN
779    NaN
780    NaN
781    NaN
782    NaN
783    NaN
784    NaN
785    NaN
786    NaN
787    NaN
788    NaN
789    NaN
790    NaN
791    NaN
792    NaN
793    NaN
794    NaN
795    NaN
796    NaN
797    NaN
798    NaN
799    NaN
800    NaN
801    NaN
802    NaN
803    NaN
804    NaN
805    NaN
806    NaN
807    NaN
808    NaN
809    NaN
810    NaN
811    NaN
812    NaN
813    NaN
814    NaN
815    NaN
816    NaN
817    NaN
818    NaN
819    NaN
820    NaN
821    NaN
822    NaN
823    NaN
824    NaN
825    NaN
826    NaN
827    NaN
828    NaN
829    NaN
830    NaN
831    NaN
832    NaN
833    NaN
834    NaN
835    NaN
836    NaN
837    NaN
838    NaN
839    NaN
840    NaN
841    NaN
842    NaN
843    NaN
844    NaN
845    NaN
846    NaN
847    NaN
848    NaN
849    NaN
850    NaN
851    NaN
852    NaN
853    NaN
854    NaN
855    NaN
856    NaN
857    NaN
858    NaN
859    NaN
860    NaN
861    NaN
862    NaN
863    NaN
864    NaN
865    NaN
866    NaN
867    NaN
868    NaN
869    NaN
870    NaN
871    NaN
872    NaN
873    NaN
874    NaN
875    NaN
876    NaN
877    NaN
878    NaN
879    NaN
880    NaN
881    NaN
882    NaN
883    NaN
884    NaN
885    NaN
886    NaN
887    NaN
888    NaN
889    NaN
890    NaN
891    NaN
892    NaN
893    NaN
894    NaN
895    NaN
896    NaN
897    NaN
898    NaN
899    NaN
900    NaN
901    NaN
902    NaN
903    NaN
904    NaN
905    NaN
906    NaN
907    NaN
908    NaN
909    NaN
910    NaN
911    NaN
912    NaN
913    NaN
914    NaN
915    NaN
916    NaN
917    NaN
918    NaN
919    NaN
920    NaN
921    NaN
922    NaN
923    NaN
924    NaN
925    NaN
926    NaN
927    NaN
928    NaN
929    NaN
930    NaN
931    NaN
932    NaN
933    NaN
934    NaN
935    NaN
936    NaN
937    NaN
938    NaN
939    NaN
940    NaN
941    NaN
942    NaN
943    NaN
944    NaN
945    NaN
946    NaN
947    NaN
948    NaN
949    NaN
950    NaN
951    NaN
952    NaN
953    NaN
954    NaN
955    NaN
956    NaN
957    NaN
958    NaN
959    NaN
960    NaN
961    NaN
962    NaN
963    NaN
964    NaN
965    NaN
966    NaN
967    NaN
968    NaN
969    NaN
970    NaN
971    NaN
972    NaN
973    NaN
974    NaN
975    NaN
976    NaN
977    NaN
978    NaN
979    NaN
980    NaN
981    NaN
982    NaN
983    NaN
984    NaN
985    NaN
986    NaN
987    NaN
988    NaN
989    NaN
990    NaN
991    NaN
992    NaN
993    NaN
994    NaN
995    NaN
996    NaN
997    NaN
998    NaN
999    NaN
1000   NaN
1001   NaN
1002   NaN
1003   NaN
1004   NaN
1005   NaN
1006   NaN
1007   NaN
1008   NaN
1009   NaN
1010   NaN
1011   NaN
1012   NaN
1013   NaN
1014   NaN
1015   NaN
1016   NaN
1017   NaN
1018   NaN
1019   NaN
1020   NaN
1021   NaN
1022   NaN
1023   NaN
1024   NaN
1025   NaN
1026   NaN
1027   NaN
1028   NaN
1029   NaN
1030   NaN
1031   NaN
1032   NaN
1033   NaN
1034   NaN
1035   NaN
1036   NaN
1037   NaN
1038   NaN
1039   NaN
1040   NaN
1041   NaN
1042   NaN
1043   NaN
1044   NaN
1045   NaN
1046   NaN
1047   NaN
1048   NaN
1049   NaN
1050   NaN
1051   NaN
1052   NaN
1053   NaN
1054   NaN
1055   NaN
1056   NaN
1057   NaN
1058   NaN
1059   NaN
1060   NaN
1061   NaN
1062   NaN
1063   NaN
1064   NaN
1065   NaN
1066   NaN
1067   NaN
1068   NaN
1069   NaN
1070   NaN
1071   NaN
1072   NaN
1073   NaN
1074   NaN
1075   NaN
1076   NaN
1077   NaN
1078   NaN
1079   NaN
1080   NaN
1081   NaN
1082   NaN
1083   NaN
1084   NaN
1085   NaN
1086   NaN
1087   NaN
1088   NaN
1089   NaN
1090   NaN
1091   NaN
1092   NaN
1093   NaN
1094   NaN
1095   NaN
1096   NaN
1097   NaN
1098   NaN
1099   NaN
1100   NaN
1101   NaN
1102   NaN
1103   NaN
1104   NaN
1105   NaN
1106   NaN
1107   NaN
1108   NaN
1109   NaN
1110   NaN
1111   NaN
1112   NaN
1113   NaN
1114   NaN
1115   NaN
1116   NaN
1117   NaN
1118   NaN
1119   NaN
1120   NaN
1121   NaN
1122   NaN
1123   NaN
1124   NaN
1125   NaN
1126   NaN
1127   NaN
1128   NaN
1129   NaN
1130   NaN
1131   NaN
1132   NaN
1133   NaN
1134   NaN
1135   NaN
1136   NaN
1137   NaN
1138   NaN
1139   NaN
1140   NaN
1141   NaN
1142   NaN
1143   NaN
1144   NaN
1145   NaN
1146   NaN
1147   NaN
1148   NaN
1149   NaN
1150   NaN
1151   NaN
1152   NaN
1153   NaN
1154   NaN
1155   NaN
1156   NaN
1157   NaN
1158   NaN
1159   NaN
1160   NaN
1161   NaN
1162   NaN
1163   NaN
1164   NaN
1165   NaN
1166   NaN
1167   NaN
1168   NaN
1169   NaN
1170   NaN
1171   NaN
1172   NaN
1173   NaN
1174   NaN
1175   NaN
1176   NaN
1177   NaN
1178   NaN
1179   NaN
1180   NaN
1181   NaN
1182   NaN
1183   NaN
1184   NaN
1185   NaN
1186   NaN
1187   NaN
1188   NaN
1189   NaN
1190   NaN
1191   NaN
1192   NaN
1193   NaN
1194   NaN
1195   NaN
1196   NaN
1197   NaN
1198   NaN
1199   NaN
1200   NaN
1201   NaN
1202   NaN
1203   NaN
1204   NaN
1205   NaN
1206   NaN
1207   NaN
1208   NaN
1209   NaN
1210   NaN
1211   NaN
1212   NaN
1213   NaN
1214   NaN
1215   NaN
1216   NaN
1217   NaN
1218   NaN
1219   NaN
1220   NaN
1221   NaN
1222   NaN
1223   NaN
1224   NaN
1225   NaN
1226   NaN
1227   NaN
1228   NaN
1229   NaN
1230   NaN
1231   NaN
1232   NaN
1233   NaN
1234   NaN
1235   NaN
1236   NaN
1237   NaN
1238   NaN
1239   NaN
1240   NaN
1241   NaN
1242   NaN
1243   NaN
1244   NaN
1245   NaN
1246   NaN
1247   NaN
1248   NaN
1249   NaN
1250   NaN
1251   NaN
1252   NaN
1253   NaN
1254   NaN
1255   NaN
1256   NaN
1257   NaN
1258   NaN
1259   NaN
1260   NaN
1261   NaN
1262   NaN
1263   NaN
1264   NaN
1265   NaN
1266   NaN
1267   NaN
1268   NaN
1269   NaN
1270   NaN
1271   NaN
1272   NaN
1273   NaN
1274   NaN
1275   NaN
1276   NaN
1277   NaN
1278   NaN
1279   NaN
1280   NaN
1281   NaN
1282   NaN
1283   NaN
1284   NaN
1285   NaN
1286   NaN
1287   NaN
1288   NaN
1289   NaN
1290   NaN
1291   NaN
1292   NaN
1293   NaN
1294   NaN
1295   NaN
1296   NaN
1297   NaN
1298   NaN
1299   NaN
1300   NaN
1301   NaN
1302   NaN
1303   NaN
1304   NaN
1305   NaN
1306   NaN
1307   NaN
1308   NaN
1309   NaN
1310   NaN
1311   NaN
1312   NaN
1313   NaN
1314   NaN
1315   NaN
1316   NaN
1317   NaN
1318   NaN
1319   NaN
1320   NaN
1321   NaN
1322   NaN
1323   NaN
1324   NaN
1325   NaN
1326   NaN
1327   NaN
1328   NaN
1329   NaN
1330   NaN
1331   NaN
1332   NaN
1333   NaN
1334   NaN
1335   NaN
1336   NaN
1337   NaN
1338   NaN
1339   NaN
1340   NaN
1341   NaN
1342   NaN
1343   NaN
1344   NaN
1345   NaN
1346   NaN
1347   NaN
1348   NaN
1349   NaN
1350   NaN
1351   NaN
1352   NaN
1353   NaN
1354   NaN
1355   NaN
1356   NaN
1357   NaN
1358   NaN
1359   NaN
1360   NaN
1361   NaN
1362   NaN
1363   NaN
1364   NaN
1365   NaN
1366   NaN
1367   NaN
1368   NaN
1369   NaN
1370   NaN
1371   NaN
1372   NaN
1373   NaN
1374   NaN
1375   NaN
1376   NaN
1377   NaN
1378   NaN
1379   NaN
1380   NaN
1381   NaN
1382   NaN
1383   NaN
1384   NaN
1385   NaN
1386   NaN
1387   NaN
1388   NaN
1389   NaN
1390   NaN
1391   NaN
1392   NaN
1393   NaN
1394   NaN
1395   NaN
1396   NaN
1397   NaN
1398   NaN
1399   NaN
1400   NaN
1401   NaN
1402   NaN
1403   NaN
1404   NaN
1405   NaN
1406   NaN
1407   NaN
1408   NaN
1409   NaN
1410   NaN
1411   NaN
1412   NaN
1413   NaN
1414   NaN
1415   NaN
1416   NaN
1417   NaN
1418   NaN
1419   NaN
1420   NaN
1421   NaN
1422   NaN
1423   NaN
1424   NaN
1425   NaN
1426   NaN
1427   NaN
1428   NaN
1429   NaN
1430   NaN
1431   NaN
1432   NaN
1433   NaN
1434   NaN
1435   NaN
1436   NaN
1437   NaN
1438   NaN
1439   NaN
1440   NaN
1441   NaN
1442   NaN
1443   NaN
1444   NaN
1445   NaN
1446   NaN
1447   NaN
1448   NaN
1449   NaN
1450   NaN
1451   NaN
1452   NaN
1453   NaN
1454   NaN
1455   NaN
1456   NaN
1457   NaN
1458   NaN
1459   NaN
1460   NaN
1461   NaN
1462   NaN
1463   NaN
1464   NaN
1465   NaN
1466   NaN
1467   NaN
1468   NaN
1469   NaN
1470   NaN
1471   NaN
1472   NaN
1473   NaN
1474   NaN
1475   NaN
1476   NaN
1477   NaN
1478   NaN
1479   NaN
1480   NaN
1481   NaN
1482   NaN
1483   NaN
1484   NaN
1485   NaN
1486   NaN
1487   NaN
1488   NaN
1489   NaN
1490   NaN
1491   NaN
1492   NaN
1493   NaN
1494   NaN
1495   NaN
1496   NaN
1497   NaN
1498   NaN
1499   NaN
1500   NaN
1501   NaN
1502   NaN
1503   NaN
1504   NaN
1505   NaN
1506   NaN
1507   NaN
1508   NaN
1509   NaN
1510   NaN
1511   NaN
1512   NaN
1513   NaN
1514   NaN
1515   NaN
1516   NaN
1517   NaN
1518   NaN
1519   NaN
1520   NaN
1521   NaN
1522   NaN
1523   NaN
1524   NaN
1525   NaN
1526   NaN
1527   NaN
1528   NaN
1529   NaN
1530   NaN
1531   NaN
1532   NaN
1533   NaN
1534   NaN
1535   NaN
1536   NaN
1537   NaN
1538   NaN
1539   NaN
1540   NaN
1541   NaN
1542   NaN
1543   NaN
1544   NaN
1545   NaN
1546   NaN
1547   NaN
1548   NaN
1549   NaN
1550   NaN
1551   NaN
1552   NaN
1553   NaN
1554   NaN
1555   NaN
1556   NaN
1557   NaN
1558   NaN
1559   NaN
1560   NaN
1561   NaN
1562   NaN
1563   NaN
1564   NaN
1565   NaN
1566   NaN
1567   NaN
1568   NaN
1569   NaN
1570   NaN
1571   NaN
1572   NaN
1573   NaN
1574   NaN
1575   NaN
1576   NaN
1577   NaN
1578   NaN
1579   NaN
1580   NaN
1581   NaN
1582   NaN
1583   NaN
1584   NaN
1585   NaN
1586   NaN
1587   NaN
1588   NaN
1589   NaN
1590   NaN
1591   NaN
1592   NaN
1593   NaN
1594   NaN
1595   NaN
1596   NaN
1597   NaN
1598   NaN
1599   NaN
1600   NaN
1601   NaN
1602   NaN
1603   NaN
1604   NaN
1605   NaN
1606   NaN
1607   NaN
1608   NaN
1609   NaN
1610   NaN
1611   NaN
1612   NaN
1613   NaN
1614   NaN
1615   NaN
1616   NaN
1617   NaN
1618   NaN
1619   NaN
1620   NaN
1621   NaN
1622   NaN
1623   NaN
1624   NaN
1625   NaN
1626   NaN
1627   NaN
1628   NaN
1629   NaN
1630   NaN
1631   NaN
1632   NaN
1633   NaN
1634   NaN
1635   NaN
1636   NaN
1637   NaN
1638   NaN
1639   NaN
1640   NaN
1641   NaN
1642   NaN
1643   NaN
1644   NaN
1645   NaN
1646   NaN
1647   NaN
1648   NaN
1649   NaN
1650   NaN
1651   NaN
1652   NaN
1653   NaN
1654   NaN
1655   NaN
1656   NaN
1657   NaN
1658   NaN
1659   NaN
1660   NaN
1661   NaN
1662   NaN
1663   NaN
1664   NaN
1665   NaN
1666   NaN
1667   NaN
1668   NaN
1669   NaN
1670   NaN
1671   NaN
1672   NaN
1673   NaN
1674   NaN
1675   NaN
1676   NaN
1677   NaN
1678   NaN
1679   NaN
1680   NaN
1681   NaN
1682   NaN
1683   NaN
1684   NaN
1685   NaN
1686   NaN
1687   NaN
1688   NaN
1689   NaN
1690   NaN
1691   NaN
1692   NaN
1693   NaN
1694   NaN
1695   NaN
1696   NaN
1697   NaN
1698   NaN
1699   NaN
1700   NaN
1701   NaN
1702   NaN
1703   NaN
1704   NaN
1705   NaN
1706   NaN
1707   NaN
1708   NaN
1709   NaN
1710   NaN
1711   NaN
1712   NaN
1713   NaN
1714   NaN
1715   NaN
1716   NaN
1717   NaN
1718   NaN
1719   NaN
1720   NaN
1721   NaN
1722   NaN
1723   NaN
1724   NaN
1725   NaN
1726   NaN
1727   NaN
1728   NaN
1729   NaN
1730   NaN
1731   NaN
1732   NaN
1733   NaN
1734   NaN
1735   NaN
1736   NaN
1737   NaN
1738   NaN
1739   NaN
1740   NaN
1741   NaN
1742   NaN
1743   NaN
1744   NaN
1745   NaN
1746   NaN
1747   NaN
1748   NaN
1749   NaN
1750   NaN
1751   NaN
1752   NaN
1753   NaN
1754   NaN
1755   NaN
1756   NaN
1757   NaN
1758   NaN
1759   NaN
1760   NaN
1761   NaN
1762   NaN
1763   NaN
1764   NaN
1765   NaN
1766   NaN
1767   NaN
1768   NaN
1769   NaN
1770   NaN
1771   NaN
1772   NaN
1773   NaN
1774   NaN
1775   NaN
1776   NaN
1777   NaN
1778   NaN
1779   NaN
1780   NaN
1781   NaN
1782   NaN
1783   NaN
1784   NaN
1785   NaN
1786   NaN
1787   NaN
1788   NaN
1789   NaN
1790   NaN
1791   NaN
1792   NaN
1793   NaN
1794   NaN
1795   NaN
1796   NaN
1797   NaN
1798   NaN
1799   NaN
1800   NaN
1801   NaN
1802   NaN
1803   NaN
1804   NaN
1805   NaN
1806   NaN
1807   NaN
1808   NaN
1809   NaN
1810   NaN
1811   NaN
1812   NaN
1813   NaN
1814   NaN
1815   NaN
1816   NaN
1817   NaN

In [70]:
tweet_info_clean.head()

             tweet_id                       timestamp  favorites  retweets
0  892420643555336193  Tue Aug 01 16:23:56 +0000 2017      39467      8853
1  892177421306343426  Tue Aug 01 00:17:27 +0000 2017      33819      6514
2  891815181378084864  Mon Jul 31 00:18:03 +0000 2017      25461      4328
3  891689557279858688  Sun Jul 30 15:58:51 +0000 2017      42908      8964
4  891327558926688256  Sat Jul 29 16:00:24 +0000 2017      41048      9774